.timer-wrapper {
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
}
.timer-wrapper input {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.04em;
  font-size: 16px;

  color: #2e2f42;

  border: 1px solid #808080;
  border-radius: 4px;

  padding: 8px 16px;
  margin-right: 8px;
}
.timer-wrapper input:hover,
.timer-wrapper input:focus {
  border-color: #000;
}
.flatpickr-input.active {
  border-color: #4e75ff !important;
}
.timer-wrapper input.disabled {
  color: #808080;
  border-color: #808080;
  pointer-events: none;
}
.timer-wrapper button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 24px;
  font-size: 16px;

  color: #fff;
  background-color: #4e75ff;

  border: none;
  border-radius: 8px;

  padding: 8px 16px;

  transition: background-color 0.3s ease;
}
.timer-wrapper button:hover {
  background-color: #6c8cff;
}
.timer-wrapper button.disabled {
  color: #989898;
  background-color: #dcdcdc;
  cursor: not-allowed;
}
.timer {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  gap: 24px;
}
.field {
  display: flex;
  flex-direction: column;
}
.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
  text-transform: uppercase;
}
.error-toast {
  background-color: #ff4e4e;
}
.iziToast.error-toast {
  background-color: #ef4040;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
}
